body{
margin:0;
font-family:Poppins;
background:linear-gradient(120deg,#0f172a,#1e3a8a,#2563eb);
color:#111;
}

/* NAVBAR */
nav{
background:#020617;
color:white;
padding:15px 8%;
display:flex;
justify-content:space-between;
}

/* HERO */
.hero{
color:white;
text-align:center;
padding:100px 20px;
}
.btn{
background:#22c55e;
color:white;
padding:14px 28px;
border-radius:6px;
text-decoration:none;
display:inline-block;
margin-top:15px;
}

/* SECTIONS */
.section{
background:white;
margin:40px;
padding:60px;
border-radius:12px;
text-align:center;
}
.grey{background:#eef2ff;}

/* WHY */
.why{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin-top:30px;
}

/* GALLERY */
.gallery{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}
.gallery img{
width:220px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,.2);
}

/* FEES */
.fees{
display:flex;
justify-content:center;
gap:30px;
margin-top:20px;
}

/* MBBS */
.mbbs{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

/* REVIEWS */
.reviews{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:20px;
}

footer{
color:white;
text-align:center;
padding:20px;
}
