body{
  margin:0;
  font-family: Arial, sans-serif;
  text-align:center;
}

.nav{
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#002147;
  color:white;
}
.nav ul{display:flex; list-style:none; gap:20px;}
.nav a{color:white; text-decoration:none;}

.hero{
  background:linear-gradient(#004aad,#002147);
  color:white;
  padding:80px 20px;
}

.btn{
  background:#ff9800;
  padding:12px 25px;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

.section{padding:60px 20px;}
.grey{background:#f5f5f5;}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  padding:20px;
}
.gallery img{width:100%; border-radius:10px;}

.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}
.card{
  background:#002147;
  color:white;
  padding:20px;
  border-radius:10px;
  width:250px;
}

.review{
  background:white;
  margin:10px auto;
  padding:15px;
  width:60%;
  border-radius:8px;
  box-shadow:0 0 5px gray;
}

footer{
  background:#002147;
  color:white;
  padding:15px;
}
